@model Garage20.Models.Fordon

@{
    ViewBag.Title = "Details";
}

<h2>Detaljvy för fordon</h2>

<div>
    @*<h4>Fordon</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Färg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Färg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Märke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Märke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntalHjul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntalHjul)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Redigera", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Tillbaka till Garage 2.0", "Index")
</p>
