@model IEnumerable<Garage20.Models.Fordon>

@{
    ViewBag.Title = "Index";
}

<h2>Översiktsvy för fordon</h2>

<div>
    @using (Html.BeginForm("Index", "Fordons", FormMethod.Get))
    {
        <p>
            <br />
            @Html.DropDownList("Alternative")
            @Html.TextBox("SearchString")
            <input type="submit" value="Sök" />
        </p>
    }
</div>
<p>
    @Html.ActionLink("Parkera fordon", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Ägare", "Index", new { sortOrder = ViewBag.ÄgareSortParm, searchString = "" })
        </th>
        <th>
            @Html.ActionLink("Fordonstyp", "Index", new { sortOrder = ViewBag.TypSortParm, searchString = "" })
        </th>
        <th>
            @Html.ActionLink("Registreringsnummer", "Index", new { sortOrder = ViewBag.RegNrSortParm, searchString = "" })
        </th>
        <th>
            @Html.ActionLink("In-checkningstid", "Index", new { sortOrder = ViewBag.TidSortParm, searchString = "" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Medlemmar.FullständigtNamn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fordonstyper.Typ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tid)
        </td>

        <td>
            @Html.ActionLink("Redigera fordon", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detaljvy för fordon", "Details", new { id = item.Id }) |
            @Html.ActionLink("Hämta ut fordon", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Tillbaka till Översiktsvy för fordon", "Index")
</div>
