@model IEnumerable<Garage20.Models.Fordon>

@{
    ViewBag.Title = "Index";
}

<br />

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Sök" />
    </p>
}
<p>
    @Html.ActionLink("Parkera fordon", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.RegNr)*@
            @Html.ActionLink("Registreringsnummer", "Index", new { sortOrder = ViewBag.RegNrSortParm, searchString = "" })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Typ)*@
            @Html.ActionLink("Typ", "Index", new { sortOrder = ViewBag.TypSortParm, searchString = "" })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Färg)*@
            @Html.ActionLink("Färg", "Index", new { sortOrder = ViewBag.FärgSortParm, searchString = "" })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Tid)*@
            @Html.ActionLink("Tid", "Index", new { sortOrder = ViewBag.TidSortParm, searchString = "" })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fordonstyper.Typ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Färg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tid)
        </td>

        <td>
            @Html.ActionLink("Redigera fordon", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detaljvy för fordon", "Details", new { id = item.Id }) |
            @Html.ActionLink("Hämta ut fordon", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Tillbaka till Garage 2.0", "Index")
</div>
