@model Garage20.Models.KvittoViewModel

@{
    ViewBag.Title = "Kvitto";
}

<h2>Kvitto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Namn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ankomsttid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ankomsttid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utcheckningstid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utcheckningstid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kostnad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kostnad) SEK
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka till Översiktsvy för fordon", "Index")
</p>
