@model Garage20.Models.Fordon


@{
    ViewBag.Title = "Statistic";
}

<h2>Detaljer för fordon</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Total Bil :
        </dt>

        <dd>
            @ViewBag.bil
        </dd>
        <dt>
            Total Buses
        </dt>

        <dd>
            @ViewBag.bus
        </dd>
        <dt>
            Total Motorcykel :
        </dt>

        <dd>
            @ViewBag.Motorcykel
        </dd>

        <dt>
            Total Båt :
        </dt>

        <dd>
            @ViewBag.Båt
        </dd>
        <dt>
            Total Flygplan :
        </dt>

        <dd>
            @ViewBag.Flygplan
        </dd>
    </dl>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Total Antal hjul i garaget :
        </dt>

        <dd>
            @ViewBag.TotalHjul
        </dd>
    </dl>
</div>
<hr />
<div>
    @Html.ActionLink("Tillbaka till Garage 2.0", "Index")
</div>