@model Garage20.Models.Fordon


@{
    ViewBag.Title = "Statistic";
}

<h2>Detaljer för fordon</h2>

<div>
    <hr />
    <table class="table">
        <tr>
            <th>
                Total Bil
            </th>
            <th>
                Total Buses
            </th>
            <th>
                Total Motorcykel
            </th>
            <th>
                Total Båt
            </th>
            <th>
                Total Flygplan
            </th>
        </tr>


        <tr>
            <td>
                @ViewBag.bil
            </td>
            <td>
                @ViewBag.bus
            </td>
            <td>
                @ViewBag.Motorcykel
            </td>
            <td>
                @ViewBag.Båt
            </td>

            <td>
                @ViewBag.Flygplan
            </td>
        </tr>
    </table>

</div>

<div>
    <hr />
    <table>
        <tr>
            <th>
                Total Antal hjul i garaget
            </th>

        </tr>
        <tr>
            <td>
                @ViewBag.TotalHjul
            </td>

        </tr>
        <tr>
            <th>
                Total Minutes of Parking
            </th>
        </tr>
        <tr>

            <td>
                @ViewBag.TotalTid
            </td>
        </tr>
        <tr>
            <th>
                Total Price / minutes
            </th>
        </tr>
        <tr>
            <td>
                @ViewBag.count
            </td>
        </tr>
    </table>

</div>
<hr />
<div>
    @Html.ActionLink("Tillbaka till Garage 2.0", "Index")
</div>