@model Garage20.Models.Fordon

<div>
    <h2>Kvitto</h2>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.Tid) :
        </dt>

        <dd>
            @*@Html.DisplayFor(Model=>Model.Tid)*@
            @Html.DisplayFor(model => model.Tid)
        </dd>
        <dt>
            Ut-checkningstid:
        </dt>

        <dd>
            @DateTime.Now
        </dd>

        <dt>
            Total parkeringsperiod:
        </dt>

        <dd>
            @ViewBag.currenttime tim  @ViewBag.currentminutes min
        </dd>
        <dt>
            Pris:
        </dt>

        <dd>
            @ViewBag.price SEK
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Tillbaka till Garage 2.0", "Index")
</p>
